<footer class="site-footer">
  <div class="container">
    <div class="social-links">
      <a href="https://www.linkedin.com/in/piyushkumarnsut/">LinkedIn</a>
      <a href="./privacy-policy.html">Privacy Policy</a>
    </div>
    <div class="page-views">
      <p>Page views: <span id="goatcounter">Loading...</span></p>
    </div>
    <div class=""><p>&copy; 2025 | <a href="https://algopush.com">Algopush</a> | All Rights Reserved.</p></div>
  </div>

  <style>
    footer {
      background-color: black;
      color: white;
      font-weight: 400;
      text-align: center;
      padding: 0.5rem 0;
    }

    .site-footer .container {
      max-width: 100%;
      color: white;
      margin: auto;
      padding: 0.4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .social-links a{
      color: white;
      margin: 0 10px;
      text-decoration: none;
    }

    .social-links a:hover, a:hover {
      text-decoration: underline;
    }

    .page-views {
      margin: 0.1rem;
      font-size: 1rem;
    }
  </style>

  <script async src="https://gc.zgo.at/count.js" data-goatcounter="https://erpiyushkumar.goatcounter.com/count"></script>
  <script>
    window.addEventListener('load', function() {
      // Check if GoatCounter has loaded properly
      if (window.GoatCounter) {
        window.GoatCounter.count(function(data) {
          document.getElementById("goatcounter").innerText = data.pageviews;
        });
      }
    });
  </script>
</footer>
