<footer class="site-footer">
    <div class="container">
      <p>&copy; 2025<a href="https://algopush.com">Algopush</a> All Rights Reserved.</p>
      <div class="page-views">
        <p>Page views: <span id="goatcounter">Loading...</span></p>
      </div>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/piyushkumarnsut/">LinkedIn</a>
      </div>
    </div>
  </footer>

  <!-- GoatCounter script -->
<script async src="https://gc.zgo.at/count.js" data-goatcounter="erpiyushkumar"></script>

<script>
    window.addEventListener('load', function() {
      // Check if GoatCounter has loaded properly
      if (window.GoatCounter) {
        window.GoatCounter.count(function(data) {
          document.getElementById("goatcounter").innerText = data.pageviews;
        });
      }
    });
  </script>
